@tailwind base;
@tailwind components;
@tailwind utilities;




.paws-clip {
  background-image: url('./media/background.svg');
  background-repeat: no-repeat;
  background-size: cover;

}

/*MOBILE 390PX*/
@media (min-width: 390px) {
  .paws-clip {
    background-size: cover
  }
}

/*TABLET 768PX*/
@media (min-width: 768px) {
  .paws-clip {
    background-size: contain
  }
}

/*DESKTOP 990X*/
@media (min-width: 990px) {
  .paws-clip {
    background-size: contain
  }
}