@tailwind base;
@tailwind components;
@tailwind utilities;




.medal-clip {
  background-image: url(./media/Medal.svg);;
  background-repeat: no-repeat;
  background-size: contain;
}

.chain-clip {
  background-image: url(./media/medal-2.svg);
  background-repeat: no-repeat;
  background-size: cover
}

.paws-clip {
  background-image: url('./media/background.svg');
  background-repeat: no-repeat;
  background-size: cover;

}
/*MOBILE 390PX*/
@media (min-width: 390px) {
  .paws-clip {
    background-size: cover
  }
}

@media (min-width: 756px) {
  .chain-clip {
    background-size: 100%,90%
  }
}

/*TABLET 768PX*/
@media (min-width: 768px) {
  .paws-clip {
    background-size: contain
  }
}

/*DESKTOP 990X*/
@media (min-width: 990px) {
  .paws-clip {
    background-size: contain
  }
}